<div class="about_well">
	<h1 id="about_header">ABOUT ME</h1>
	<p id="tagline">
		My name is Lindsey Sugino & I'm a Web Developer living in San Francisco.
	</p>
	<p>
		I recently graduated from Dev BootCamp, an intensive 9-week web development program. While at DBC, I spent over 900 hours writing code, watching code break, & figuring out a solution.
	</p>
	<p>
		Before DBC, I was in online marketing for two years. Spending 2 years A/B testing and optimizing web pages sparked my interest in learning how to build web pages that I had spent so much time testing. 
	</p>
	<p>
		I'm excited about web development because you are constantly expanding your understanding of both the problem and the solution. There is no limit to what you can learn to improve your craft. I'm excited to continue learning and build awesome things.
	</p>
	<p>Get in touch with me at <%= mail_to "lindseysugino@gmail.com", "lindseysugino@gmail.com" %>.
	</p>
	<p id='back_link'>
		<%= link_to "<< Take me back", root_path %>
	</p>
</div>