<div class="about_container">
	<h1 id="about_header">ABOUT ME</h1>
	<p id="tagline">
		I'm Lindsey Sugino & I'm a web developer <br>living in San Francisco.
	</p>
	<p>
		I am a recent graduate from Dev BootCamp, an intensive 9-week web development program that emphasizes agile development. At DBC, I spent over 900 hours writing code, learning about best practices, and working in pairs or groups to watch our code break and figure out a solution together.
	</p>
	<p>
		Before DBC, I was in online marketing for two years with an emphasis on display advertising, e-mail marketing, social media, and market user interface design. Spending 2 years A/B testing and optimizing ads, layouts, copy and colors sparked an interest in learning how to build the pages that I had spent so much time testing.
	</p>
	<p>
		I'm excited to continue learning and grow as a developer and am currently looking for job opportunities in the Bay Area. 
	</p>
	<p>Get in touch with me at <%= mail_to "lindseysugino@gmail.com", "lindseysugino@gmail.com" %>.
	</p>
	<p>
		<%= link_to "<< Take me back", root_path %>
	</p>
</div>