<div class="about_well">
	<h1 id="about_header">ABOUT ME</h1>
	<p id="tagline">
		My name is Lindsey Sugino & I'm a Web Developer living in San Francisco.
	</p>
	<p>
		I recently graduated from Dev BootCamp, an intensive 9-week web development program. While at DBC, I spent over 900 hours writing code, watching code break, & figuring out a solution.
	</p>
	<p>
		Before DBC, I was in online marketing. The 2 years I spent A/B testing and optimizing web pages, display ads, layouts, colors, & copywriting allows me to write code for apps that are user friendly and business optimized.
	</p>
	<p>
		I'm excited about web development because it constantly expands my understanding of both the problem and the solution. There is no limit to what I can learn to improve my craft, and I love being a serial learner.
	</p>
	<p>Get in touch with me at <%= mail_to "lindseysugino@gmail.com", "lindseysugino@gmail.com" %>.
	</p>
	<p id='back_link'>
		<%= link_to "<< Take me back", root_path %>
	</p>
</div>