<%= render partial: "navbar" %>

<div class="container">
	<h1 class="pink header">ABOUT ME</h1>
	<!-- <div id="tagline">
		My name is Lindsey Sugino &<br> I'm a Web Developer living in San Francisco.
	</div> -->
	<div class="col_well">
		<div class="column" id="col_left">
			<h2 class="about_h2 pink">What I do:</h2>
			I develop web applications using the following: Ruby, Ruby on Rails, Sinatra, HTML, CSS,
			Javascript, & Java. I practice agile development and believe that testing is not a separate phase, but an integral part of software development.
		</div>
		<div class="column" id="col_cent">
			<h2 class="about_h2 pink">How I got here:</h2>
			 I'm a Dev BootCamp graduate, where I spent over 900 hours writing code, watching code break, & figuring out a solution.

			Before DBC, I worked on display advertising, email marketing, social media, & user experience design. 
		</div>
		<div class="column" id="col_right">
			<h2 class="about_h2 pink">Why I do this:</h2>I'm excited about web development because when I code, it constantly expands my understanding of both the problem and the solution. There is no limit to what I can learn to improve my craft, and I love being a serial learner.
		</div>
	</div><br>
</div>