<div class='container'>
	<h1 class='main_header'>Lindsey Sugino</h1>
	<h2>Web Developer</h2>
	<ul>
		<li><%= link_to "About me", static_pages_about_path %></li>
		<li>-</li>
		<li><%= link_to "Linkedin", "http://www.linkedin.com/in/lindseysugino" %>
		</li>
		<li>-</li>
		<li><%= link_to "Github", "https://github.com/lsugino" %></li>
		<li>-</li>
		<li><%= link_to "Twitter", "https://twitter.com/lindseysugino" %></li>
	</ul>
</div>