<div class='container'>
	<div class='well'>
		<h1 class='main_header'><strong>Hi,</strong> I'm a Web Developer</h1>
		<h2 class='second_header'>I BELIEVE A GOOD USER EXPERIENCE IS GOOD MARKETING</h2> 
		<ul>
			<li><%= link_to "About Me", about_path %></li>
			<li>•</li>
			<li><%= link_to "LinkedIn", "http://www.linkedin.com/in/lindseysugino" %>
			</li>
			<li>•</li>
			<li><%= link_to "GitHub", "https://github.com/lsugino" %></li>
			<li>•</li>
			<li><%= link_to "Twitter", "https://twitter.com/lindseysugino" %></li>
		</ul>
	</div>
</div>