<%= render partial: "navbar" %>

<div class="container">
	<h1 class="header_1 marg_btm tagline">Online Marketing</h1>

	<h2 class="marg_btm">Thedreamvine.com</h2><hr>
	<h3 class="res_sp marg_btm">Online Promotional Manager</h3>
		<ul>
			<li>Developed overall marketing strategy and created a timeline for strategic implementation </li>
			<li>Conducted competitive analysis and created and designed templates for future market research</li>
			<li>Set up marketing and special media software to monitor activity across multiple channels</li>
		</ul>

	<h2 class="marg_btm">Pinchit</h2><hr>
	<h3 class="res_sp marg_btm">Online Marketing Manager</h3>
		<ul>
			<li>Drove and developed marketing strategies to efficiently acquire and retain users across multiple channels including e-mail, affiliate, merchandising and social media</li>
			<li>Managed a team of 11 and focused on product strategy, innovation, and prioritization in order to scale efficiently</li>
			<li>Developed business operations including client proposal and analysis, account management, optimization and reporting</li>
			<li>Successfully analyzed campaign metrics to drive business decisions to increase visits and revenue</li>
		</ul>

	<h2 class="marg_btm">Pinchit</h2><hr>
	<h3 class="res_sp marg_btm">Marketing Coordinator</h3>
		<ul>
			<li>Owned daily e-mail campaign across three cities and developed e-mail customer engagement strategy</li>
			<li>Managed affiliate marketing campaigns from creation and design of ads to implementation</li>
			<li>Maintained social media presence (Facebook, Twitter, Pinterest and G+)</li>
			<li>Responsible for creating and finding all imagery on the website, e-mails and ads</li>
		</ul>

	<h2 class="marg_btm">Coupons.com</h2><hr>
	<h3 class="res_sp marg_btm">Online Marketing Intern</h3>
		<ul>
			<li>Implement multiple weekly e-mail campaigns to list of over 800,000 subscribers</li>
			<li>Responsible for the banner ad process through coordination with design team to create seasonal themes, putting together display banners and uploading them</li>
			<li>Own the creation and scheduling of weekly mastheads to increase readership through personalization</li>
			<li>Maintain the Coupons.com Twitter account</li>
		</ul>
		
</div>
