<%= render partial: "navbar" %>

<div class="container">
	<h1 class="header_1 marg_btm tagline">Programming</h1>

	<h2 class="marg_btm" id="stme">Stitch & Mechanics</h2><hr>
	<h3 class="res_sp marg_btm">Contract Web Developer</h3>
		<ul>
			<li>Responsible for transferring the existing website onto the Shopify platform</li>
			<li>Implement e-commerce capabilities to allow customers to purchase from the website</li>
		</ul>

	<h2 class="marg_btm" id="pier29">Pier 29</h2><hr>
	<h3 class="res_sp marg_btm">Contract Web Developer & Designer</h3>
		<ul>
			<li>Design and develop a new responsive restaurant website from scratch</li>
			<li>Provide guidance for rebranding and marketing strategies</li>
		</ul>

	<h2 class="marg_btm" id="bkant">BK Antiques</h2><hr>
	<h3 class="res_sp marg_btm">Contract Web Developer</h3>
		<ul>
			<li>Performed maintenance and updates to existing site to accurately portray furniture images</li>
			<li>Implemented a zoom feature to zoom in on website images</li>
		</ul>
		
</div>
