<%= render partial: "navbar" %>

<div class="container">
	<h1 class="header_1">Projects</h1>

	<p><a href="http://lavishhairandmakeupstudio.com/" target="_blank" id="gb">Lavish Hair & Makeup Studio</a></p>

</div>