<%= render partial: "navbar" %>

<div class="container">
	<div>
		<h1 class="header_1 marg_btm tagline">Online Marketer Turned Web Developer</h1>
		<ul class="list_none">
			<li><span>Available for:</span> Hire & Freelance Work</li>
		</ul>
	</div>

	<div class="section">
		<div>
		<h2 class="marg_btm">TOOLS I USE</h2><hr>
		<ul class="left_none">
			<div class="col span_1_of_3">
				<li>HTML & CSS</li>
				<li>Ruby</li>
				<li>Java</li>
			</div>
			<div class="col span_1_of_3">
				<li>Javascript</li>
				<li>SQL & Postgresql</li>
				<li>Excel</li>
			</div>
			<div class="col span_1_of_3">
				<li>Photoshop</li>
				<li>Lightroom</li>
				<li>Content & Email Platforms</li>
			</div>
		</ul>
		</div>
	</div>

	<div class="section">
		<h2 class="marg_btm pad_top">THINGS I DO</h2><hr>
		<ul class="left_none">
			<div class="col span_1_of_3">
				<li>Branding</li>
				<li>Web Design & UX Testing</li>
				<li>Online Advertising</li>
			</div>
			<div class="col span_1_of_3">
				<li>Email Marketing</li>
				<li>Social Media</li>
				<li>Copywriting</li>
			</div>			
			<div class="col span_1_of_3">
				<li>Analytics</li>
				<li>Photo Editing</li>
				<li>Ecommerce Technology</li>
			</div>
		</ul>
	</div>

	<div class="section">
		<h2 class="marg_btm pad_top">MY EXPERIENCES</h2><hr>

		<div id="experiences">
			<div class="col span_1_of_2 col_marg">
				<div>
					<h3 class="marg_btm res_sp">Stitch & Mechanics</h3>
					<p class="res_sp">Contract Web Developer</p>
					<ul>
						<li>Responsible for transferring the existing website onto the Shopify platform</li>
						<li>Implemented e-commerce capabilities to allow customers to purchase from the website</li>
					</ul>
				</div>

				<div>
					<h3 class="marg_btm res_sp">Pier 29</h3>
					<p class="res_sp">Contract Web Developer & Designer</p>
					<ul>
						<li>Design and develop a new responsive restaurant website from scratch</li>
						<li>Provide guidance for rebranding and marketing strategies</li>
					</ul>
				</div>

				<div>
					<h3 class="marg_btm">BK Antiques</h3>
					<p class="res_sp">Contract Web Developer</p>
					<ul>
						<li>Performed maintenance and updates to existing site to accurately portray furniture images</li>
						<li>Implemented a zoom feature to zoom in on website images</li>
					</ul>
				</div>

				<div>
					<h3 class="marg_btm">theDreamVine</h3>
					<p class="res_sp">Promotional Manager</p>
					<ul>
						<li>Developed overall marketing strategy and created a timeline for strategic implementation </li>
						<li>Conducted competitive analysis and created and designed templates for future market research</li>
						<li>Set up marketing and special media software to monitor activity across multiple channels</li>
					</ul>
				</div>
			</div>

			<div class="col span_1_of_2 col_marg">
				<div>
					<h3 class="marg_btm res_sp">Pinchit</h3>
					<p class="res_sp" id="test_marg">Marketing Manager</p>
					<ul>
						<li>Drove and developed marketing strategies to efficiently acquire and retain users across multiple channels including e-mail, affiliate, merchandising and social media</li>
						<li>Managed a team of 11 and focused on product strategy, innovation, and prioritization in order to scale efficiently</li>
						<li>Developed business operations including client proposal and analysis, account management, optimization and reporting</li>
						<li>Successfully analyzed campaign metrics to drive business decisions to increase visits and revenue</li>
					</ul>
				</div>

				<div>
					<h3 class="marg_btm">Pinchit</h3>
					<p class="res_sp" id="test_marg">Marketing Coordinator</p>
					<ul>
						<li>Owned daily e-mail campaign across three cities and developed e-mail customer engagement strategy</li>
						<li>Managed affiliate marketing campaigns from creation and design of ads to implementation</li>
						<li>Maintained social media presence (Facebook, Twitter, Pinterest and G+)</li>
						<li>Responsible for creating and finding all imagery on the website, e-mails and ads</li>
					</ul>
				</div>

				<div>
					<h3 class="marg_btm">Coupons.com</h3>
					<p class="res_sp" id="test_marg">Online Marketing Intern</p>
					<ul>
						<li>Implement multiple weekly e-mail campaigns to list of over 800,000 subscribers</li>
						<li>Responsible for the banner ad process through coordination with design team to create seasonal themes, putting together display banners and uploading them</li>
						<li>Own the creation and scheduling of weekly mastheads to increase readership through personalization</li>
						<li>Maintain the Coupons.com Twitter account</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<div class="section" id="edu">
		<h2 class="marg_btm pad_top">EDUCATION</h2><hr>
		<div class="col span_1_of_2 marg_lft col_marg">
			<div>
				<h3 class="res_sp marg_btm">Dev Bootcamp</h3>
					<p class="major">Full Stack Web Technologies</p>
			</div>
		</div>
		<div class="col span_1_of_2 col_marg">
			<div>
				<h3 class="res_sp marg_btm">University of California - Berkeley</h3>
				<p>B.A. Sociology</p>
			</div>
		</div>
	</div>
</div>
