<%= render partial: "navbar" %>

<div class="container">
	<div>
		<h1 class="header_1 marg_btm tagline">Online Marketer Turned Web Developer</h1>
		<ul class="list_none">
			<li>Available for: Hire & Freelance Work</li>
		</ul>
	</div>

	<div class="section">
		<div>
		<h2 class="marg_btm">TOOLS I USE</h2><hr>
		<ul class="left_none">
			<div class="col span_1_of_3">
				<li>HTML & CSS</li>
				<li>Ruby</li>
				<li>Java</li>
			</div>
			<div class="col span_1_of_3">
				<li>Javascript</li>
				<li>SQL & Postgresql</li>
				<li>Excel</li>
			</div>
			<div class="col span_1_of_3">
				<li>Photoshop</li>
				<li>Lightroom</li>
				<li>Content & Email Platforms</li>
			</div>
		</ul>
		</div>
	</div>

	<div class="section">
		<h2 class="marg_btm pad_top">THINGS I DO</h2><hr>
		<ul class="left_none">
			<div class="col span_1_of_3">
				<li>Branding</li>
				<li>Web Design & UX Testing</li>
				<li>Online Advertising</li>
			</div>
			<div class="col span_1_of_3">
				<li>Email Marketing</li>
				<li>Social Media</li>
				<li>Copywriting</li>
			</div>			
			<div class="col span_1_of_3">
				<li>Analytics</li>
				<li>Photo Editing</li>
				<li>Ecommerce Technology</li>
			</div>
		</ul>
	</div>

	<div class="section">
		<h2 class="marg_btm pad_top">MY EXPERIENCES</h2><hr>

		<div>
			<div class="col span_1_of_2 col_marg">
				<div>
					<h3 class="marg_btm res_sp">Pier 29</h3>
					<p class="res_sp">Contract Web Developer and Designer</p>
				</div>

				<div>
					<h3 class="marg_btm">BK Antiques</h3>
					<p class="res_sp">Contract Web Developer</p>
				</div>

				<div>
					<h3 class="marg_btm">theDreamVine</h3>
					<p class="res_sp">Promotional Manager</p>
				</div>
			</div>

			<div class="col span_1_of_2 col_marg">
				<div>
					<h3 class="marg_btm res_sp">Pinchit</h3>
					<p class="res_sp">Marketing Manager</p>
				</div>

				<div>
					<h3 class="marg_btm">Pinchit</h3>
					<p class="res_sp">Marketing Coordinator</p>
				</div>

				<div>
					<h3 class="marg_btm">Coupons.com</h3>
					<p class="res_sp">Online Marketing Intern</p>
				</div>
			</div>

		</div>
	</div>

	<div class="section">
		<h2 class="marg_btm pad_top">EDUCATION</h2><hr>
		<div class="col span_1_of_2 marg_lft col_marg">
			<div>
				<h3 class="res_sp marg_btm">Dev Bootcamp</h3>
					<p class="major">Full Stack Web Technologies</p>
			</div>
		</div>
		<div class="col span_1_of_2 col_marg">
			<div>
				<h3 class="res_sp marg_btm">University of California - Berkeley</h3>
				<p class="major">B.A. Sociology</p>
			</div>
		</div>
	</div>
</div>
