<%= render partial: "navbar" %>

<div class="container">
	<div>
		<!-- <h1 class="header_1">Lindsey Sugino</h1> -->
		<h1 class="header_1 marg_btm">Online Marketer Turned Web Developer</h1>
		<ul class="list_none">
			<li>Available for: Hire & Freelance Work</li>
		</ul>
	</div>

	<div>
		<h2 class="marg_btm">TOOLS I USE</h2><hr>
		<ul class="column_3">
			<li class="col1">HTML & CSS</li>
			<li class="col1">Ruby</li>
			<li class="col1">Java</li>
			<li class="col2 reset">Javascript</li>
			<li class="col2">SQL & Postgresql</li>
			<li class="col2">SEO</li>
			<li class="col3 reset">Excel</li>
			<li class="col3">Photoshop</li>
			<li class="col3">Lightroom</li>
		</ul>
	</div>

	<div>
		<h2 class="marg_btm">THINGS I DO</h2><hr>
		<ul class="column_3">
			<li class="col1">Branding</li>
			<li class="col1">Web Design & UX Testing</li>
			<li class="col1">Online Advertising</li>
			<li class="col2 reset">Email Marketing</li>
			<li class="col2">Social Media</li>
			<li class="col2">Copywriting</li>
			<li class="col3 reset">Analytics</li>
			<li class="col3">Photo Editing</li>
			<li class="col3">Ecommerce Technology</li>
		</ul>
	</div>

	<div>
		<h2 class="marg_btm">MY EXPERIENCES</h2><hr>
		<div id="exp">
			<div class="left">
				<div>
					<h3 class="marg_btm res_sp">Pier 29</h3>
					<p class="res_sp">Contract Web Developer and Designer</p>
				</div>

				<div>
					<h3 class="marg_btm">BK Antiques</h3>
					<p class="res_sp">Contract Web Developer</p>
				</div>

				<div>
					<h3 class="marg_btm">theDreamVine</h3>
					<p class="res_sp">Promotional Manager</p>
				</div>
			</div>

			<div class="right">
				<div>
					<h3 class="marg_btm res_sp">Pinchit</h3>
					<p class="res_sp">Marketing Manager</p>
				</div>

				<div>
					<h3 class="marg_btm">Pinchit</h3>
					<p class="res_sp">Marketing Coordinator</p>
				</div>

				<div>
					<h3 class="marg_btm">Coupons.com</h3>
					<p class="res_sp">Online Marketing Intern</p>
				</div>
			</div>
		</div>
	</div>

	<div>
		<h2 class="marg_btm">EDUCATION</h2><hr>
		<div class="left">
			<div>
				<h3 class="res_sp marg_btm">Dev Bootcamp</h3>
					<p class="major">Full Stack Web Technologies</p>
			</div>
		</div>
		<div class="right">
			<div>
				<h3 class="res_sp marg_btm">University of California - Berkeley</h3>
				<p class="major">B.A. Sociology</p>
			</div>
		</div>
	</div>
</div>
