.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 600px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 600px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}

.abt_hdr {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*.column {
	display: inline;
}

.col_left {
	float: left;
	width: 30%;
	margin-right: 4%;
}

.col_cent {
	float: left;
	width: 30%;
	margin-right: 4%;
}

.col_right {
	float: left;
	width: 30%;
}



.p_top {
	margin-top: 8px;
}

@media only screen and (max-device-width: 480px) {
	#col_left {
    width: 100%;
    margin-bottom: 0;
  }
  #col_cent {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #col_right {
    width: 100%;
    margin-top: 6px;
  }
}*/