.about_well {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.col_well {
  overflow: hidden;
  margin-bottom: 20px;
}

.about_h2 {
  color: #F505AD;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

#col_left {
  float: left;
  width: 31.3%;
  height: 100%;
  border: white;
}

#col_cent {
  float: left;
  width: 31.3%;
  height: 100%;
  margin: 0 3%;
  border: white;
}

#col_right {
  float: right;
  width: 31.3%;
  height: 100%;
  border-color: white;
}

#contact {
  clear: both;
  margin-bottom: 15px;
}

#about_header {
  color: #F505AD;
  font-weight: bold;
  font-size: 3.2em;
  margin-bottom: 0;
}

#tagline {
  font-size: 1.5em;
  margin-top: 7px;
  margin-bottom: 5px;
}

#back_link {
  font-size: 1.3em;
}

@media screen and (max-width: 1000px) {
  .about_well {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 850px) {
  .about_well {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  #col_left {
    clear: both;
    width: 100%;
    margin-bottom: 0;
  }
  #col_cent {
    clear: both;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: -1px;
  }
  #col_right {
    clear: both;
    width: 100%;
    margin-top: 6px;
  }
}

@media screen and (max-width: 768px) {
  #about_header {
    font-size: 3.2em;
  }
  .about_well {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .column > h2 {
    margin-bottom: 8px;
  }
  #tagline {
    font-size: 1.4em;
  }
  #email {
    font-size: 1.2em;
  }
  #back_link {
    font-size: 1.3em;
  }
}

@media only screen and (max-device-width: 480px) {
  #about_header {
    font-size: 3.2em;
  }
  .about_well {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .column > h2 {
    margin-bottom: 8px;
  }
  #col_left {
    width: 100%;
    margin-bottom: 0;
  }
  #col_cent {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #col_right {
    width: 100%;
    margin-top: 6px;
  }
  #tagline {
    font-size: 1.4em;
  }
  #email {
    font-size: 1.2em;
  }
  #back_link {
    font-size: 1.3em;
  }
  #contact {
    margin-top: 20px;
  }

}