/*three columns*/
li.col1 { margin-left: 0em; }
li.col2 { margin-left: 17em; }
li.col3 { margin-left: 34em; }

.column_3 li {
  line-height: 1.2em;
}  

.column_3 li.reset {
  margin-top: -3.6em;
}

/*four columns*/
li.cl1 { margin-left: 0em; }
li.cl2 { margin-left: 10em; }
li.cl3 { margin-left: 20em; }
li.cl4 { margin-left: 30em; }
li.cl5 { margin-left: 40em; }

.column_5 li {
  line-height: 1.2em;
}  

.column_5 li.reset {
  margin-top: -2.4em;
}

.major {
	margin-top: 7px;
	margin-bottom: 30px;
}

.res_sp {
	margin-top: 8px;
}

.left {
	display: inline;
	float: left;
	width: 50%;
}

.right {
	display: inline;
	float: left;
	width: 50%;
}