@media only screen and (max-width: 700px) {
	.tagline {
		font-size: 1.7em;
	}
}

.pad_top {
	padding-top: 12px;
}

.marg_lft {
	margin-left: 0;
}

.col_marg {
	margin-top: 0;
	margin-bottom: 0;
}

.list_none li span {
	font-weight: bold;
	color: #A3A3A3;
}

h3 {
	color: #FF1975;
	text-decoration: underline;
}

/*** Experience Section *******/

#experiences p {
	color: #A3A3A3;
	margin: 5px 0 0 0;
}

#experiences ul {
	margin-top: 3px;
}

#experiences li {
	padding-right: 10px;
}

/*** Education Section *******/

#edu p {
	margin-top: 5px;
}