@media only screen and (max-width: 700px) {
	.tagline {
		font-size: 1.7em;
	}
}

.pad_top {
	padding-top: 12px;
}

.marg_lft {
	margin-left: 0;
}

.col_marg {
	margin-top: 0;
	margin-bottom: 0;
}
/*three columns*/
/*li.col1 { margin-left: 0em; }
li.col2 { margin-left: 16em; }
li.col3 { margin-left: 32em; }

.column_3 li {
  line-height: 1.2em;
}  

.column_3 li.reset {
  margin-top: -3.6em;
}*/

/*four columns*/
/*li.cl1 { margin-left: 0em; }
li.cl2 { margin-left: 10em; }
li.cl3 { margin-left: 20em; }
li.cl4 { margin-left: 30em; }
li.cl5 { margin-left: 40em; }

.column_5 li {
  line-height: 1.2em;
}  

.column_5 li.reset {
  margin-top: -2.4em;
}

.major {
	margin-top: 7px;
	margin-bottom: 30px;
}

.res_sp {
	margin-top: 8px;
}

*/