.container {
	position: absolute;
	text-align: center;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -200px;  /*margin is -0.5 * dimension */
  margin-top: -135px; 
}

.main_header {
	font-size: 3.5em;
  margin-bottom: 27px; 
}

ul {
  padding-left: 0;
	list-style: none;
}

.octocat {
  fill: pink !important;
}

.octocat:hover {
  fill: #FF1493 !important;
}