.container {
	margin: 0 45px 45px 45px;
}

.pink {
	color: #FF1975;
}

.header_1 {
	padding-top: 70px;
	color: #FF1975;
}

.marg_btm {
	margin-bottom: 0;
}

.marg_top {
	margin-top: 0;
}

.marg_left {
	margin-left: 10%;
}

.list_none {
	list-style: none;
}

.left {
	display: inline;
	float: left;
	width: 50%;
}

.right {
	display: inline;
	float: left;
	width: 50%;
}